<div class="card-header text-center py-4 border-0" style="color: hsl(59, 93%, 53%); font-size: 200px; margin-top: 20px;">
    <h1 class="display-6 fw-bold fs-1">
         About
    </h1>
</div>
<div class="text-center" style="color: white; font-size: 1rem; margin-top: 50px;">
    Luis Kirn
</div>
<button class="btn border-black rounded-5 shadow"
        style="width: 80px; background-color: transparent; color: white; position: relative; top: 530px; left: 150px;"
        routerLink="/app/todo">Back</button>