<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <app-todo></app-todo>
    </div>
  </div>
</div>  -->
<div *ngIf="!isSignedIn">
  <h2 class="text-center py-0" style="color:  rgb(247, 243, 24); font-size: 1rem; margin-top: 20px; margin-left: 10px;" >Welcome to</h2>
  <h2 class="text-center py-0 logo" style="color:  rgb(247, 243, 24); font-size: 2.5rem; margin-top: 14px; margin-left: 10px;" >Check-it!</h2>
  <div>
    <i class="fa-regular fa-circle-check fa-2xl" style="color: rgb(247, 243, 24); margin-left: 135px; margin-top: 70px; font-size: 8rem;"></i>
  </div>
  <input class="rounded-2 text-center emailInput" type="text" style="margin-left: 115px; margin-top: 70px; background-color: transparent; border-color:#f7f318; color: white;" placeholder="E-Mail" #email/>
  <hr>
  <input class="rounded-2 text-center emailInput" type="password" style="margin-left: 115px; margin-top: -10px; background-color: transparent; border-color:#f7f318; color: white;" placeholder="password" #password/>
  <hr>
  <button class="btn border-0 rounded-5" style="margin-top: -10px; margin-left: 150px; background-color: #f7f318; color: black; width: 100px;" (click)="onSignin(email.value,  password.value)">Sign in</button>
  <div *ngIf="isInvalidCredentials" class="text-center" style="color: red; margin-top: 10px; margin-left: 5px; margin-right: 5px;">
    Invalid E-Mail or password. Please try again after automatic page reload.
  </div>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2 class="text-center" style="color:  rgb(247, 243, 24); position: absolute; top: 550px; left: 80px; font-size: 1rem;">No Account yet? Sign up here: </h2>
  <div>
    <input class="rounded-2 text-center emailInput" type="text" style="position: absolute; top: 580px; left: 30px; background-color: transparent; border-color:#f7f318; color: white;" placeholder="E-Mail" #emailSignup/>
    <input class="rounded-2 text-center emailInput" type="text" style="position: absolute; top: 580px; left: 200px; background-color: transparent; border-color:#f7f318; color: white;" placeholder="password" #passwordSignup/>
    <button class="btn border-0 rounded-5" style="position: absolute; top: 610px; left: 160px; background-color: #f7f318; color: black;" (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign up
    </button>
  </div>
  <div *ngIf="isInvalidCredentialsSignUp" class="text-center" style="color: red; margin-top: 205px;">
    Invalid or already used E-Mail. Please try again after.
  </div>
  <div *ngIf="isWeakPassword" class="text-center" style="color: red; margin-top: 205px; font-size: smaller;">
    Missing or weak Password (Length-minimum: 6). Please try again.
  </div>
</div>
<app-loading *ngIf="isSignedIn" routerLink="/app/loading"></app-loading>

<router-outlet></router-outlet>

